<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="connectionstringDev1234" value="Data Source=CSDBServer101;Initial Catalog=Tricomin.com;Integrated Security=SSPI;"/>
    <add key="connectionstringDevabc" value="Data Source=CSDBServer102;Initial Catalog=Tricomin.com;Integrated Security=SSPI;"/>
    <add key="connectionstringDev" value="server=10.128.100.131;database=Tricomin.com;UID=WebApp1;Password=ConversionWebApp11;Persist Security Info=False;Connect Timeout=120"/>    
    <add key="sendemailto" value="operations@kpidirect.com"/>    
    <add key="sendemailtocc" value="klainez@conversionsystems.com"/>    
    <add key="sendemailtoccClient" value="kim@kpidirect.com" />        
    <add key="sendemailtoError" value="pdhruv@conversionsystems.com"/>
    <add key="sendemailtoErrorCC" value="aparmar@conversionsystems.com"/>
    <add key="SmtpServer" value="localhost"/>
  </appSettings>
  <connectionStrings>

  </connectionStrings>
  <system.net>
    <mailSettings>
      <smtp from="info@conversionsystems.com">
        <network host="localhost" port="25" defaultCredentials="true"/>
      </smtp>
    </mailSettings>
  </system.net>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri=""/>
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400"/>
      </providers>
    </roleManager>
  </system.web>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
</configuration>