<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="client_db" value="server=10.128.100.230;database=Petadolex.com;UID=WebApp1;Password=ConversionWebApp11;Persist Security Info=False;Connect Timeout=120;"/>
    <add key="connectionstringProd" value="server=10.128.100.230;database=Petadolex.com;UID=WebApp1;Password=ConversionWebApp11;Persist Security Info=False;Connect Timeout=120;"/>
    <add key="connectionstringProd_DEV" value="Data Source=CSDBServer101;Initial Catalog=Petadolex.Com;Integrated Security=SSPI;"/>
    <add key="ed-apikey" value="051378c8-1877-4a7c-9d7b-c0091ea761e9"/>
    <add key="SOURCEID" value="2"/>
    <add key="CLNOClientType" value="PI"/>
    <add key="EncryptionPrivateKey" value="ASDdk34Jahdsl2D%" />
  </appSettings>
  <connectionStrings>

  </connectionStrings>
  <system.net>
    <mailSettings>
      <smtp from="info@conversionsystems.com">
        <network host="localhost" port="25" defaultCredentials="true"/>
        <!--  <network host="190.210.74.7" port="8080" defaultCredentials="true" /> -->

      </smtp>
    </mailSettings>
  </system.net>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri=""/>
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400"/>
      </providers>
    </roleManager>
  </system.web>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
</configuration>
