<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="KeepAlive.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <KeepAlive.Properties.Settings>
            <setting name="RequestURL" serializeAs="String">
                <value>http://zquiet.csstaging.com/MOBILE_VGX|http://10.128.201.86/mobile_VGX/|http://10.128.202.86/mobile_VGX/</value>
            </setting>
        </KeepAlive.Properties.Settings>
    </applicationSettings>
</configuration>