<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="connectionstring" value="" />
    <add key="connectionstring2" value="" />

    <add key="uploadqueue" value=""></add>

    <add key="encryptionkey" value="ASDdk34Jahdsl2D%" />

    <add key="ClientSettingsProvider.ServiceUri" value="" />
    <add key="site1" value="email212.com" />
    <add key="sendemailto" value="aa2@email212.com" />
    <add key="cc" value="" />
    <add key="bcc" value="aa@email212.com" />
    <add key="user1" value="aarnone" />
    <add key="pass1" value="Wr93bw" />
    <add key="ftpon" value="on" />


    <add key="providerurl" value="67.59.185.14" />
    <add key="CopyPath" value="C:\batchfiles\Dermawand_Predictive_Report" />

    <add key="Mode" value="TEST" />
    <add key="ID" value="" />
    <add key="MediaCode" value="" />
    <add key="Username" value="" />
    <add key="Password" value="" />
    <add key="CompanyNumber" value="" />
    <add key="ProjectNumber" value="" />

  </appSettings>
  <connectionStrings>
    <add name="Dermawand" providerName="System.Data.SqlClient" connectionString="server=10.128.100.131;database=Dermawand.com;UID=WebApp1;Password=ConversionWebApp11;Persist Security Info=False;Connect Timeout=120" />
    <!--<add name="SilkSkin" providerName="System.Data.SqlClient" connectionString="Data Source=.\SQLEXPRESS;Initial Catalog=SilkSkin;Integrated Security=True;Connect Timeout=120"/>-->
  </connectionStrings>
  <system.net>
    <mailSettings>
      <smtp from="info@conversionsystems.com">
        <network host="67.59.157.126" port="25" defaultCredentials="true" />
        <!--  <network host="190.210.74.7" port="8080" defaultCredentials="true" /> -->

      </smtp>
    </mailSettings>
  </system.net>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>