<?xml version="1.0"?>
<configuration>
  <appSettings>    
    <add key="connectionstringDev" value="server=10.128.100.230;database=TryNoNo.Com;UID=WebApp1;Password=ConversionWebApp11;Persist Security Info=False;Connect Timeout=120"/>    
    <add key="connectionstringDevSkin" value="server=10.128.100.230;database=NoNoSkin.Com;UID=WebApp1;Password=ConversionWebApp11;Persist Security Info=False;Connect Timeout=120"/>
      
      <add key="connectionstringMyNoNo" value="server=10.128.100.230;database=MyNoNo.Com;UID=WebApp1;Password=ConversionWebApp11;Persist Security Info=False;Connect Timeout=120"/>
      <add key="connectionstring_LTK_MyNoNo" value="server=10.128.100.131;database=Ltk.My-No.No.Com;UID=WebApp1;Password=ConversionWebApp11;Persist Security Info=False;Connect Timeout=120"/>
	  <add key="connectionstring_TryKyro" value="server=10.128.100.131;database=TryKyro.Com;UID=WebApp1;Password=ConversionWebApp11;Persist Security Info=False;Connect Timeout=120"/>
      <add key="sendemailto" value="operations@kpidirect.com"/>
    <add key="sendemailtocc" value="klainez@conversionsystems.com"/>
    <add key="sendemailtoError" value="pdhruv@conversionsystems.com"/>    
    <add key="SmtpServer" value="localhost"/>
  </appSettings>
  <connectionStrings>

  </connectionStrings>
  <system.net>
    <mailSettings>
      <smtp from="info@conversionsystems.com">
        <network host="localhost" port="25" defaultCredentials="true"/>  
      </smtp>
    </mailSettings>
  </system.net>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri=""/>
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400"/>
      </providers>
    </roleManager>
  </system.web>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
</configuration>
