<?xml version="1.0"?>
<configuration>
	<configSections>
		<section name="Helper" type="System.Configuration.NameValueSectionHandler, System, Version=1.0.5000.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"/>
		<section name="AppServers" type="System.Configuration.NameValueSectionHandler, System, Version=1.0.5000.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"/>
		<section name="WebServerLocation" type="System.Configuration.NameValueSectionHandler, System, Version=1.0.5000.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"/>
		<section name="SQLServerDAO" type="System.Configuration.NameValueSectionHandler, System, Version=1.0.5000.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"/>
		<section name="OracleDAO" type="System.Configuration.NameValueSectionHandler, System, Version=1.0.5000.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"/>
		<section name="ErrorLogAPI" type="System.Configuration.NameValueSectionHandler, System, Version=1.0.5000.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"/>
		<section name="Translations" type="System.Configuration.NameValueSectionHandler, System, Version=1.0.5000.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"/>
		<section name="CacheKeys" type="System.Configuration.NameValueSectionHandler, System, Version=1.0.5000.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"/>
		<section name="LookupGroups" type="System.Configuration.NameValueSectionHandler, System, Version=1.0.5000.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"/>
		<section name="Lookups" type="System.Configuration.NameValueSectionHandler, System, Version=1.0.5000.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"/>
		<section name="ApplicationRoleTypes" type="System.Configuration.NameValueSectionHandler, System, Version=1.0.5000.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"/>
		<section name="ApplicationRoles" type="System.Configuration.NameValueSectionHandler, System, Version=1.0.5000.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"/>
		<section name="AdminEmailsForNewRoleRequest" type="System.Configuration.NameValueSectionHandler, System, Version=1.0.5000.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"/>
		<section name="ItemCodes" type="System.Configuration.NameValueSectionHandler, System, Version=1.0.5000.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"/>
		<section name="CCPaymentType" type="System.Configuration.NameValueSectionHandler, System, Version=1.0.5000.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"/>
		<section name="DataServicesTxtBatchConfig" type="System.Configuration.NameValueSectionHandler, System, Version=1.0.5000.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"/>
		<section name="ApplicationUsers" type="System.Configuration.NameValueSectionHandler, System, Version=1.0.5000.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"/>
		<sectionGroup name="system.web.extensions" type="System.Web.Configuration.SystemWebExtensionsSectionGroup, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35">
			<sectionGroup name="scripting" type="System.Web.Configuration.ScriptingSectionGroup, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35">
				<section name="scriptResourceHandler" type="System.Web.Configuration.ScriptingScriptResourceHandlerSection, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" requirePermission="false" allowDefinition="MachineToApplication"/>
				<sectionGroup name="webServices" type="System.Web.Configuration.ScriptingWebServicesSectionGroup, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35">
					<section name="jsonSerialization" type="System.Web.Configuration.ScriptingJsonSerializationSection, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" requirePermission="false" allowDefinition="Everywhere"/>
					<section name="profileService" type="System.Web.Configuration.ScriptingProfileServiceSection, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" requirePermission="false" allowDefinition="MachineToApplication"/>
					<section name="authenticationService" type="System.Web.Configuration.ScriptingAuthenticationServiceSection, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" requirePermission="false" allowDefinition="MachineToApplication"/>
					<section name="roleService" type="System.Web.Configuration.ScriptingRoleServiceSection, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" requirePermission="false" allowDefinition="MachineToApplication"/>
				</sectionGroup>
			</sectionGroup>
		</sectionGroup>
	</configSections>
	<appSettings>
		<add key="encryptionkey" value="ASDdk34Jahdsl2D%"/>
		<add key="sendemailto" value="aparmar@conversionsystems.com"/>
		<add key="cc" value=""/>
		<add key="bcc" value="aparmar@conversionsystems.com"/>
		<add key="ClientSettingsProvider.ServiceUri" value=""/>
	</appSettings>
	<Helper>
		<add key="AppAcronym" value="GC"/>
		<add key="AppName" value="Celluscience Batch"/>
		<add key="AppVersion" value="1.0"/>
		<add key="AppReleaseType" value="Beta"/>
		<add key="Producer" value="Conversion Systems"/>
		<add key="ReleaseDate" value="July, 2009"/>
		<add key="CacheTimer" value="90"/>
		<add key="AdminEmail" value="aniketh@conversionsystems.com"/>
		<add key="MonitorEmail" value="aniketh@conversionsystems.com"/>
		<add key="ApplicationEmail" value="info@conversionsystems.com"/>
		<add key="SmtpServer" value="67.59.157.126"/>
		<add key="ErrorLogFile" value="C:\CelluscienceBatchFiles\Log.txt"/>
		<add key="DatapackWebService" value=""/>
	</Helper>
	<DataServicesTxtBatchConfig>
		<add key="FilePath" value="C:\batchstaging\BatchProcesses\cellusciencebatchfiles"/>
		<add key="Field#22" value="5705"/>
		<add key="Field#24" value="CONV"/>
		<add key="Field#22_GET" value="5704"/>
		<add key="Field#22_TRY" value="5706"/>
		<add key="method" value="submit_order"/>
		<add key="ID" value="CQGCVS"/>
		<add key="Username" value="CsSn195a"/>
		<add key="Password" value="t829aWk4"/>
		<add key="CompanyNumber" value="101"/>
		<add key="ProjectNumber" value="007"/>
		<add key="SourceCode" value="104"/>
		<add key="TrackingCode" value="003"/>
		<add key="MediaCode" value="WEB"/>
		<add key="ShippingMethod" value="01"/>
		<add key="NumberOfPayments" value="3"/>
		<add key="RushCharge" value="0.00"/>
		<add key="PriorityHandling" value="0.00"/>
		<add key="SalesTax" value="0.00"/>
		<add key="Sequence" value="01"/>
		<add key="Upsell" value="N"/>
	</DataServicesTxtBatchConfig>
	<AppServers>
		<!-- 
    List the application servers here as keys and their modes as the values.  The modes should be one of "Dev", "Tst",
    or "Prd".  If things don't line up then, then it will be assumed that the current server is running in development
    mode.
    -->
		<add key="localhost" value="Dev"/>
		<add key="Irvine37" value="Dev"/>
		<add key="WebApps-Test" value="Tst"/>
		<add key="Irvine725" value="Prd"/>
		<add key="Irvine726" value="Prd"/>
		<add key="WebApps" value="Prd"/>
	</AppServers>
	<WebServerLocation>
		<add key="Dev" value="W:\Catalyst\CDM\DataManagement\Finance\Upload\"/>
		<add key="Tst" value="d:\inetpub\wwwroot\CDM\DataManagement\Finance\Upload\"/>
		<add key="Prd" value="d:\inetpub\wwwroot\CDM\DataManagement\Finance\Upload\"/>
	</WebServerLocation>
	<SQLServerDAO>
		<!-- 
    Set "Mode" value to "Auto" for automatic connection string setting based on server modes.  Set to "Prd", "Tst",
    or "Dev" to use those respective connection strings regardless of the server being used.
    -->
		<add key="Mode" value="Auto"/>
		<!--<add key="Prd" value="Server=.\sqlexpress;Database=Celluscience_MC_Dev;Trusted_Connection=Yes;" />
    <add key="Tst" value="Server=.\sqlexpress;Database=Celluscience_MC_Dev;Trusted_Connection=Yes;" />
    <add key="Dev" value="Server=.\sqlexpress;Database=Celluscience_MC_Dev;Trusted_Connection=Yes;" />
    <add key="mode" value="Server=.\sqlexpress;Database=Celluscience_MC_Dev;Trusted_Connection=Yes;" />-->
		<add key="Prd" value="server=10.128.100.230;database=Celluscience.com;UID=WebApp1;Password=ConversionWebApp11;Persist Security Info=False;Connect Timeout=120"/>
		<add key="Tst" value="Data Source=204.12.10.11;Initial Catalog=CelluScience;User ID=batch01;Password=b@tch01!;"/>
		<add key="Dev" value="Data Source=204.12.10.11;Initial Catalog=CelluScience;User ID=batch01;Password=b@tch01!;"/>
		<add key="mode" value="server=10.128.100.230;database=Celluscience.com;UID=WebApp1;Password=ConversionWebApp11;Persist Security Info=False;Connect Timeout=120"/>
		<add key="GetCelluScience" value="Data Source=204.12.10.11;Initial Catalog=GetCelluScience;User ID=batch01;Password=b@tch01!;"/>
		<add key="TryCelluScience" value="Data Source=204.12.10.11;Initial Catalog=TryCelluScience;User ID=batch01;Password=b@tch01!;"/>
	</SQLServerDAO>
	<CCPaymentType>
		<add key="VISA" value="VI"/>
		<add key="MasterCard" value="MA"/>
		<add key="AMEX" value="AM"/>
		<add key="Discover" value="DI"/>
	</CCPaymentType>
	<startup>
	</startup>
	<system.web>
		<membership defaultProvider="ClientAuthenticationMembershipProvider">
			<providers>
				<add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri=""/>
			</providers>
		</membership>
		<roleManager defaultProvider="ClientRoleProvider" enabled="true">
			<providers>
				<add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400"/>
			</providers>
		</roleManager>
	</system.web>
	<system.net>
		<mailSettings>
			<smtp from="info@conversionsystems.com">
				<network host="localhost" port="25" defaultCredentials="true"/>
			</smtp>
		</mailSettings>
	</system.net>
</configuration>
