<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
      <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
        <section name="WebOrderReconciliationBatch.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
      </sectionGroup>
    </configSections>
    <appSettings>
      <add key="connectionstringDev" value="server=10.128.100.230;database=Resurgence.com;UID=WebApp1;Password=ConversionWebApp11;Persist Security Info=False;Connect Timeout=120"/>            
      <add key="dependencyResolverTypeName" value="CSBusiness.Resolver.UnityDependencyResolver, CSBusiness"/>
      <add key="PassPhrase" value="Pas5pr@se"/>
      <add key="EncryptionPrivateKey" value="ASDdk34Jahdsl2D%"/>
      <add key="sendemailto" value="pdhruv@conversionsystems.com"/>
      <add key="sendemailtocc" value="klainez@conversionsystems.com"/>
      <add key="sendemailtoError" value="pdhruv@conversionsystems.com"/>      
      <add key="SmtpServer" value="localhost"/>
      <add key="ErrorLogFile" value="C:\BatchFiles\ResurgenceCustomerRegistration\Log\Log.txt"/>
      <add key="targetPath" value="C:\FTP\MuradBatchFiles\"/>
    </appSettings>
    <connectionStrings>

    </connectionStrings>
    <system.net>
      <mailSettings>
        <smtp from="info@conversionsystems.com">
          <network host="localhost" port="25" defaultCredentials="true"/>
        </smtp>
      </mailSettings>
    </system.net>
    <system.web>
      <membership defaultProvider="ClientAuthenticationMembershipProvider">
        <providers>
          <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri=""/>
        </providers>
      </membership>
      <roleManager defaultProvider="ClientRoleProvider" enabled="true">
        <providers>
          <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400"/>
        </providers>
      </roleManager>
    </system.web>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0,Profile=Client"/>
    </startup>
</configuration>
