<?xml version="1.0"?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="MarketingReports.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <appSettings>
    <add key="connectionstringdev" value="server=10.128.100.230;database=Neova.com;UID=WebApp1;Password=ConversionWebApp11;Persist Security Info=False;Connect Timeout=120"/>
    <add key="connectionstringProd" value="server=10.128.100.230;database=Neova.com;UID=WebApp1;Password=ConversionWebApp11;Persist Security Info=False;Connect Timeout=120"/>
	  <add key="uploadqueue" value="Data Source=67.59.160.215;Initial Catalog=uploadqueue;User ID=csappdev_dev;Password=10csappdev_dev10;"/>
    <add key="sendemailto" value="ravi@conversionsystems.com" />
    <add key="AdminEmail" value="klainez@conversionsystems.com" />
    <add key="fromEmail" value="info@conversionsystems.com" />
	  <!--<add key="ClientEmail" value="luana@kpidirect.com,operations@kpidirect.com,ravi@conversionsystems.com,mshahbaz@conversionsystems.com"/>-->
	  <add key="ClientEmail" value="ravi@conversionsystems.com,mshahbaz@conversionsystems.com"/>
    <add key="cc" value=""/>
    <add key="bcc" value="" />
    <add key="FTPURL" value="ftp://ftp.photomedex.com"/>
    <add key="FTPLogin" value="webleads"/>
    <add key="FTPPassword" value="CCform123"/>
  </appSettings>
  <connectionStrings>

  </connectionStrings>
  <system.net>
    <mailSettings>
      <smtp from="info@conversionsystems.com">
        <network host="localhost" port="25" defaultCredentials="true"/>
      </smtp>
    </mailSettings>
  </system.net>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri=""/>
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400"/>
      </providers>
    </roleManager>
  </system.web>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
  <applicationSettings>
    <MarketingReports.Properties.Settings>
      <setting name="MarketingReports_com_hitslink_www_ReportWS" serializeAs="String">
        <value>http://www.hitslink.com/reportws.asmx</value>
      </setting>
    </MarketingReports.Properties.Settings>
  </applicationSettings>
</configuration>
