<?xml version="1.0"?>
<configuration>
  <configSections>    
    <section name="Helper" type="System.Configuration.NameValueSectionHandler, System, Version=1.0.5000.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"/>
  </configSections>    
    <appSettings>
        
        <add key="CS_TryMyPurMistProd" value="server=10.128.100.230;database=TryMyPurmist.com;UID=WebApp1;Password=ConversionWebApp11;Persist Security Info=False;Connect Timeout=120"/>
        
        
        <!--<add key="CS_TryMyPurMistProd" value="Data Source=CSDBServer101;Initial Catalog=TryMyPurmist.com;Integrated Security=SSPI;"/>-->
        
        <add key="sendemailto" value="mhaeri@conversionsystems.com;"/>
    <add key="sendemailto" value="mhaeri@conversionsystems.com;"/>
    <add key="cc" value=""/>
    <add key="bcc" value=""/>
    <add key="ed-apikey" value="10550d79-651e-4628-9448-b5cc66e17e4e"/>
  </appSettings>

  <Helper>
    <add key="AppAcronym" value="HD"/>
    <add key="AppName" value="StoneDine Warranty MyDataTree Batch"/>
    <add key="AppVersion" value="1.0"/>
    <add key="AppReleaseType" value="Beta"/>
    <add key="Producer" value="Conversion Systems"/>
    <add key="ReleaseDate" value="Sept, 2012"/>
    <add key="CacheTimer" value="90"/>
    <add key="AdminEmail" value="mhaeri@conversionsystems.com,pdhruv@conversionsystems.com"/>
    <add key="MonitorEmail" value="mhaeri@conversionsystems.com"/>
    <add key="ApplicationEmail" value="info@conversionsystems.com"/>
    <add key="SmtpServer" value="localhost"/>
    <add key="ErrorLogFile" value="C:\BatchFiles\TryMyPurMist\Havas\log\Log.txt"/>   
    <add key="FileDirectoryPath" value="C:\BatchFiles\TryMyPurMist\Havas"/>
      <add key="ChkFolder" value="C:\BatchFiles\TryMyPurMist\Havas\chk"/>
      <add key="sFTPsite" value="ftp.edgeclient.com"/>
      <add key="FTPsiteFolder" value="/home"/>
      <add key="FTPusername" value="vapowebatt"/>
      <add key="FTPpassword" value="Va#2014poWb"/>
      <add key="Proc_name" value="report_Orders_Havas_All"/>
      <add key="hitsLinkUserName" value="trymypurmist"/>
      <add key="hitsLinkPassword" value="china2006"/>
      


  </Helper>
  
  <connectionStrings>

  </connectionStrings>
  <system.net>
    <mailSettings>
      <smtp from="info@conversionsystems.com">
        <network host="localhost" port="25" defaultCredentials="true"/>
        <!--  <network host="190.210.74.7" port="8080" defaultCredentials="true" /> -->

      </smtp>
    </mailSettings>
  </system.net>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri=""/>
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400"/>
      </providers>
    </roleManager>
  </system.web>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="ReportWSSoap" closeTimeout="00:01:00" openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00"
                                 allowCookies="false" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard" maxBufferSize="1048576"
                                 maxBufferPoolSize="524288" maxReceivedMessageSize="1048576" messageEncoding="Text" textEncoding="utf-8" transferMode="Buffered" useDefaultWebProxy="true">
                    <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="131072" maxBytesPerRead="4096" maxNameTableCharCount="16384"/>
                    <security mode="None">
                        <transport clientCredentialType="None" proxyCredentialType="None" realm=""/>
                        <message clientCredentialType="UserName" algorithmSuite="Default"/>
                    </security>
                </binding>
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://www.hitslink.com/reportws.asmx" binding="basicHttpBinding" bindingConfiguration="ReportWSSoap" contract="HitLinks.ReportWSSoap" name="ReportWSSoap"/>
        </client>
    </system.serviceModel>
</configuration>
