<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="client_db1" value="server=10.128.100.230;database=Dolovent.com;UID=WebApp1;Password=ConversionWebApp11;Persist Security Info=False;Connect Timeout=120;"/>
    <add key="connectionstringProd" value="server=10.128.100.230;database=Dolovent.com;UID=WebApp1;Password=ConversionWebApp11;Persist Security Info=False;Connect Timeout=120;"/>
    <add key="connectionstringProd_DEV" value="Data Source=CSDBServer101;Initial Catalog=Dolovent.Com;Integrated Security=SSPI;"/>
    <add key="ed-apikey" value="5f7337ee-7f8f-4a82-8411-bad6fcca7369"/>
    <add key="SOURCEID" value="3"/>
    <add key="CLNOClientType" value="DI"/>
    <add key="EncryptionPrivateKey" value="ASDdk34Jahdsl2D%" />
  </appSettings>
  <connectionStrings>

  </connectionStrings>
  <system.net>
    <mailSettings>
      <smtp from="info@conversionsystems.com">
        <network host="localhost" port="25" defaultCredentials="true"/>
        <!--  <network host="190.210.74.7" port="8080" defaultCredentials="true" /> -->

      </smtp>
    </mailSettings>
  </system.net>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri=""/>
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400"/>
      </providers>
    </roleManager>
  </system.web>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
</configuration>
